.nav-link {
    color: black;
}

.nav-item {
    cursor: pointer;
}

.nav-tabs .nav-link:hover {
    // background-color: rgba(155, 155, 224, 0.486);

    background-color: white;
}

.tab-content {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 1rem;
    background-color: white;
}